topbar {
    height: 5rem;
    background-color: #212529;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin:20px;
}
  .logo{
    height: 20px;
    width: 20px;
  }
  